button{
    height: 100%;
    width: 100%;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.board{
    width: 18rem;
    height: 18rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}